@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.contactList {
    font-family: arial, sans-serif;
    border-collapse: collapse; /* 여기서 테이블 경계를 병합하여 간격 없이 표시 */
    margin: 10px;
}

.contactList th, .contactList td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.contactList th {
    font-weight: bold;
    text-align: center;
    background-color: #023474;
    color: white;
}

.name { width: 200px }
.phone { width: 130px }
.birth { width: 130px }
.gender { width: 80px }

.input-search {
    margin-bottom: 10px;
    width: 250px;
}

.contactListContainer {
    max-height: 250px;
    display: inline-block; /* 인라인 블록 요소로 설정하여 컨테이너의 크기에 맞게 사이즈 조정 */
    align-items: flex-start; /* 수직 정렬 설정 */
    overflow-x: auto; /* 가로 스크롤을 위한 설정 */
    vertical-align: top;
}